.section {
  background-color: var(--color-primary);
  position: relative;
  height: 100vh;
  min-height: 100vh;
  margin-top: 49px;
  z-index: 3;
}

.container {
  width: 1400px;
  max-width: 100%;
  min-height: 100dvh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.content {
  width: 60%;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 2;
  margin-top: -49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(8px 5px 3px rgba(0, 0, 0, 0.5));
}

/* .logo img {
  width: 70%;
} */

.logoImg {
  width: 250px;
  margin-bottom: 1rem;
}

.text {
  color: var(--color-text-light);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle strong {
  color: var(--color-accent);
}

.highlight {
  background-color: var(--bg-transparent-white);
  /* border: var(--border); */
  color: var(--color-primary);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  align-self: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.countdown span {
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}

.buttons {
  max-width: 600px;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  position: absolute;
  top: -0rem;
  right: 0rem;
  bottom: 0rem;
  width: calc(40% + 200px);
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    #020005a9 30%,
    rgba(74, 6, 34, 0.3) 60%,
    rgba(74, 6, 34, 0) 100%
  );
  background-position: top;
  z-index: 2;
}

@media (max-width: 1000px) {
  .section {
    margin-top: 0;
    height: 100dvh;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .content {
    width: 100%;
    padding: 1.5rem;
    margin-top: 0;
  }

  .logo {
    margin-bottom: 0.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    font-size: 1.8rem;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .image {
    display: none;
  }

  .backgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(to bottom, #00000009, #001236b9, var(--color-primary)),
      url("../../../assets/imgs/bgs/bg-mobile.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;

    /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--primary-color);
  }
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 1.8rem;
  }

  .logoImg {
    width: 180px;
  }

  /* .highlight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .divider {
    display: none;
  } */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  z-index: 1;
}
