.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-transparent-blue);
  z-index: 7;
  padding: 0.5rem 2rem;
  border-bottom: var(--border-white);
}

.container span {
  font-size: 0.9rem;
  color: var(--color-text-light);
  font-weight: 600;
}

.container a {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: var(--bg-gradient-primary);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.container a:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container [data-color="blue"] {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

@media (max-width: 450px) {
  .container {
    padding: 0.5rem;
  }
  .container a {
    font-size: 0.8rem;
  }

  .container p {
    font-size: 0.8rem;
  }
  .container > span {
    font-size: 0.7rem;
  }
}
